@font-face {
  font-family: 'Roboto-figma';
  src: url('../../assets/fonts/roboto.ttf');
}

$blue-dark-color: #041023;
$blue-color: #2C364B;
$blue-light-color: #566077;
$white-color: #ffffffff;
$grey-color: #C4C4C4;
$green-color: #567757;
$green-light-color: #5C9E5F;
$red-color: #775656;
$cyan-color: #566F77;

%roboto-font {
  font-family: 'Roboto-figma';
  font-weight: 900;
  font-style: normal;
}

.container {
  margin: 0px 0px 20px 0px;
  height: calc((100% / 2) - 20px);
  width: 100%;
  position: relative;
  border-radius: 5px;
  background-color: $blue-color;
  overflow: hidden;

  .header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    background-color: $blue-light-color;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  .title {
    margin: 0px;
    @extend %roboto-font;
    font-size: 18px;
    font-weight: bold;
    color: $white-color;
  }

  .subContainer {
    margin: 5px 0px 0px 0px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .subTitle {
      margin: 0px;
      @extend %roboto-font;
      font-size: 15px;
      font-weight: bold;
      color: $white-color;
    }

    .toggleOff,
    .toggleOn {
      margin: 0px 5px;
      height: 25px;
      width: 50px;
      border-radius: 50px;
      outline: none;
      background-color: $grey-color;
      position: relative;
      appearance: none;
      overflow: hidden;
      border: none;
      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

      &:hover {
        cursor: pointer;
      }
    }

    .toggleOff {
      &:before {
        display: block;
        position: absolute;
        content: "";
        height: 19px;
        width: 20px;
        left: 3px;
        top: 3px;
        background-color: $white-color;
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      }
    }

    .toggleOn {
      background-color: $green-light-color;

      &:before {
        display: block;
        position: absolute;
        content: "";
        height: 19px;
        width: 20px;
        left: 3px;
        top: 3px;
        background-color: $white-color;
        transform: translateX(calc(100% + 4px));
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      }
    }
  }

  .totalList {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;

    .totalItem {
      height: 30%;
      margin: 0px 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $green-light-color;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      .totalTitle {
        margin: 0px;
        @extend %roboto-font;
        font-size: 18px;
        font-weight: bold;
        color: $white-color;
      }

      .totalNumber {
        margin: 0px;
        @extend %roboto-font;
        font-size: 24px;
        font-weight: bold;
        color: $white-color;
      }
    }
  .cases {
    background-color: $cyan-color;
  }

  .deaths {
    background-color: $red-color;
  }

  .recoverd {
    background-color: $green-color;
  }
  }
}

@media (max-width: 1000px) {
  .container {
    margin: 0px 20px 0px 0px;
    height: 300px;
    width: calc(50% - 20px);
  }
}

@media (max-width: 650px) {
  .container {
    margin: 0px 0px 20px 0px;
    width: 100%;
  }
}
